<% remote_form_for :fbee_project_configuration,
                   @fbee_project_configuration,
                   :url => { :controller => 'fbee_project_configurations', :action => 'update', :id => @project },
                   :builder => TabularFormBuilder,
                   :lang => current_language do |f| %>

<%= error_messages_for 'fbee_project_configuration' %>

<div class="box tabular">
<p><%= f.text_field :git_url, :label => l(:fbee_field_git_url), :size => 50, :required => true %><br />
<p><%= f.text_field :workspace, :label => l(:fbee_field_workspace), :size => 50, :required => true %>
  <% if @initialized %>
    <%= submit_tag("Re-Initialize") %>
  <% else %>
    <%= submit_tag("Initialize") %>  (<b><%= l :fbee_not_initialized %></b>)
  <% end %>
  <br />
  <em><%=l :fbee_warning_all_directory_content_will_be_removed %></em>
</div>


<%= submit_tag(l(:button_save)) %>
<% end %>
