<%- if @feature_branches -%>
  <hr>
  <p><strong><%= l :section_feature_branches %></strong></p>
  <%- @feature_branches.each do |feature_branch| -%>
    <p><strong><%= feature_branch.name %></strong>
    <%= l :issue_based_on %>
    <strong><%= feature_branch.based_on_name %></strong>

    <%# COMMITS COUNT %>
    <%- if feature_branch.commits_count -%>
      (<%= l(:x_commits, :count => feature_branch.commits_count) %>)
    <%- end %>

    <%# CHECKOUT CMD %>
    <%- if feature_branch.commits_count -%>
      <%= text_field_tag 'cmd', feature_branch.checkout_cmd, :readonly => 'true', :size => 40 %>
    <%- end -%>

    <%# STATUS %>
    &nbsp;&nbsp;[<strong title="<%= feature_branch.status_text_tooltip %>">
      <%= feature_branch.status_text %></strong>
    ]

    <%# REVIEWS %>
    <%- unless feature_branch.change_id.blank? -%>
      (<a href="<%= @gerrit_web_url %>#q,<%= feature_branch.change_id %>,n,z">Review</a>
      with <%= l(:x_commits, :count => (feature_branch.review_commit_count || 0)) %>)
    <%- else -%>
      <%- if feature_branch.review_commit_count -%>
        (<%= l(:x_commits, :count => (feature_branch.review_commit_count)) %> commits merged)
	  <%- end -%>
    <%- end -%>

    <%# AUTHORING %>
    <br>&nbsp;&nbsp;
    <%= authoring(feature_branch.created_on, feature_branch.created_user) if feature_branch.created_on %>

    <%# PROBLEMS %>
    <%- unless feature_branch.branch_problems.empty? -%>
      <br>&nbsp;&nbsp;
      <%- feature_branch.branch_problems.each do |problem| -%>
        <strong>Problem:</strong> <%= problem %>
      <%- end -%>
    <%- end -%>
    </p>
  <%- end -%>
<%- end -%>

