<%- if @feature_branches -%>
<hr>
<p><strong><%= l :section_feature_branches %></strong></p>
<%-
  @feature_branches.each do |feature_branch| -%>
<p><strong><%= feature_branch.name %></strong>
   based on
   <strong><%= feature_branch.based_on_name %></strong>
   <%- "<b>PROBEMS<b>" if feature_branch.branch_problems -%>
<%-
    case feature_branch.status
      when FeatureBranch::STATUS_PENDING -%>
(<%= feature_branch.commits_count %> commits)
<%-
      when FeatureBranch::STATUS_MERGED -%>
(<b>merged</b>)
<%-
      when FeatureBranch::STATUS_ABANDONED -%>
(<b>abandoned</b>)
<%- else -%>
  (<i>unknown status: <%= feature_branch.status.class %>, <%= FeatureBranch::STATUS_PENDING.class %></i>)

<%- end %>
   <%= text_field_tag 'cmd', feature_branch.checkout_cmd, :readonly => 'true' %>
   <br>&nbsp;&nbsp;
   <%= authoring(feature_branch.created_on, feature_branch.created_user) if feature_branch.created_on %>
</p>
  <%- end -%>
<%- end -%>

