<% string_fields = ProjectCustomField.find :all %>

<fieldset>
<legend>Project Specific</legend>
<p><label><%= l :fbee_full_path_to_hash %></label>
<%= text_field_tag 'settings[cmd_bash]', @settings['cmd_bash'], :size => 30 %><br />
<em><%= l :fbee_full_path_to_hash_hint %></em>
</p>

<p><label><%= l :fbee_full_path_to_git %></label>
<%= text_field_tag 'settings[cmd_git]', @settings['cmd_git'], :size => 30 %><br />
<em><%= l :fbee_full_path_to_git_hint %></em>
</p>

<p><label><%= l :fbee_full_path_to_ssh %></label>
<%= text_field_tag 'settings[cmd_ssh]', @settings['cmd_ssh'], :size => 30 %><br />
<em><%= l :fbee_full_path_to_ssh_hint %></em>
</p>

</fieldset>
