<h2><%= ll "title_#{params[:merge_method]}",
  :count => @feature_branch.commits_count,
  :feature_branch_name => @feature_branch.name,
  :based_on => @feature_branch.based_on_name %></h2>


<table class="list">
<tr>
    <th>#</th>
    <th align="left">Id</th>
    <th align="left">Date/time</th>
    <th align="left" style="width:30%;">Author</th>
    <th align="left" style="width:70%;">Commit message</th>
</tr>
  <%- @commits.each_with_index do |commit, index| -%>
    <tr class="<%= index % 2 == 0 ? 'even' : 'odd' %>">
      <td><%= index + 1 %></td>
    <td><%= h commit.sha[0..8] %></td>
    <td><%= commit.date.strftime '%d.%m.%Y&nbsp;%H:%M:%S' %></td>
    <td><%= h commit.author %></td>
    <td><%= h commit.message %></td>
  </tr>
  <%- end -%>
</table>
<div class="box">
  <%- labelled_tabular_form_for :febee_merge, @febee_merge,
    :url => {:controller => 'febee_merge', :action => 'create', :issue_id => @issue.id},
    :html => {:id => 'issue-form', :class => 'tabular new-issue-form'} do |f| -%>

    <p>
      <label>Feature branch</label><%= @feature_branch.name %>
    </p>
    <p>
      <label>Target main branch</label><%= @feature_branch.based_on_name %>
    </p>
    <p><%= f.text_area :commit_msg, :cols => 60, :label => ll(:field_commit_msg),
      :rows => (@febee_merge.commit_msg.blank? ? 10 : [[10, @febee_merge.commit_msg.length / 30].max, 100].min),
      :accesskey => accesskey(:edit),
      :class => 'wiki-edit' %>
      <em><%=ll :hint_commit_msg %></em>
    </p>

    <%= submit_tag (ll "submit_form_#{params[:merge_method]}")%>
  <%- end -%>
</div>
